@charset "UTF-8";
/* Estilos Generales */
* {
  margin: 0px;
  padding: 0px;
}

.bg-dark {
  background-color: #0d0a00 !important;
}

body {
  font-family: "Cormorant Garamond", serif;
  background-image: url("../assets/fondoGeometrico.jpg");
  background-repeat: repeat;
}

p {
  font-size: 16px;
  font-weight: 400;
}

a {
  color: #8e6b00;
  text-decoration: none;
}

h1 {
  font-family: "Julius Sans One", sans-serif;
  color: #8e6b00;
  font-size: 55px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 900;
}

h2 {
  font-family: "Julius Sans One", sans-serif;
  color: #8e6b00;
  font-size: 44px;
  margin-bottom: 1.5em;
  font-weight: 900;
}

h3 {
  font-family: "Julius Sans One", sans-serif;
  color: #8e6b00;
  font-size: 36px;
  margin-bottom: 1em;
}

h4 {
  font-family: "Julius Sans One", sans-serif;
  color: #c99200;
  font-size: 28px;
  margin-bottom: 1em;
}

h5 {
  font-family: "Julius Sans One", sans-serif;
  color: #8e6b00;
  font-size: 24px;
  margin-bottom: 1em;
}

.subtitle {
  font-family: "Julius Sans One", sans-serif;
  color: #292310;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 1em;
  text-transform: uppercase;
}

hr {
  border-bottom: 2px solid #292310;
  opacity: 1;
  width: 40px;
}

/* Header */
.logoLuccaMobile {
  width: 150px;
}

header {
  -webkit-box-shadow: 1px 20px 30px -20px rgba(0, 0, 0, 0.8);
          box-shadow: 1px 20px 30px -20px rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 992px) {
  .logoLucca {
    width: 250px;
    margin: 0px 50px;
  }
  nav li {
    width: 120px;
    margin: 0px 20px;
    text-align: center;
  }
  nav li#activo {
    margin-bottom: -1px;
    border-bottom: solid 1px #c99200;
  }
  nav li:hover {
    margin-bottom: -1px;
    border-bottom: solid 1px #c99200;
  }
}

a {
  font-family: "Julius Sans One", sans-serif;
  color: #fbedc3 !important;
}

a:hover {
  color: #c99200 !important;
}

/* Footer */
footer {
  margin-top: 2em;
}

footer h5 {
  margin-top: 5px;
}

.logoFooter {
  width: 200px;
  margin-bottom: 3em;
}

.i-footer {
  font-size: 2rem;
  margin: 0px 5px;
  color: #c99200;
}

.i-footer:hover {
  color: #fff;
}

.copyRight {
  border-top: solid 1px #292310;
}

/* Home Slider */
.homeSlider {
  -webkit-box-shadow: 1px 20px 30px -20px rgba(0, 0, 0, 0.8);
          box-shadow: 1px 20px 30px -20px rgba(0, 0, 0, 0.8);
}

#carouselExampleIndicators .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 50vh;
  overflow: hidden;
}

/* Texto Bienvenida */
.seccionBienvenida {
  -webkit-box-flex: content;
      -ms-flex: content;
          flex: content;
  -ms-flex-line-pack: center;
      align-content: center;
}

.seccionBienvenida .bienvenida {
  padding: 2em;
  margin-bottom: 0;
  text-align: center;
}

.seccionBienvenida .bienvenida h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.seccionBienvenida .bienvenida p {
  font-size: 21px;
}

.separadorBienvenida {
  width: 300px;
}

/* Home Platos Destacados */
.tituloPlatos {
  text-align: center;
}

.destacadosHome {
  margin-bottom: 3em;
}

.destacadosHome .platoDestacado {
  background-color: #fff;
  padding: 3em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 120px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.destacadosHome .platoDestacado:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.destacadosHome .platoDestacado img {
  margin-top: -120px;
}

.btn-outline-primary {
  font-weight: 600;
  color: #8e6b00;
  border: solid 1px #8e6b00;
  border-radius: 0px;
  margin-top: 30px;
}

.btn-outline-primary:hover {
  background-color: #8e6b00;
  border: solid 1px #8e6b00;
}

/* Estilos Páginas Menu / Staff  */
.menuImage {
  width: 100%;
}

.menuFilas {
  margin-bottom: 3em;
}

.menuColumnaImg {
  background-image: url(../assets/menuEntrada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  padding: 3em;
  min-height: 200px;
  width: 100%;
}

.menuColumnaImg1 {
  background-image: url(../assets/menuAlmuerzo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  padding: 3em;
  min-height: 200px;
  width: 100%;
}

.menuColumnaImg2 {
  background-image: url(../assets/menuCena.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  padding: 3em;
  min-height: 200px;
  width: 100%;
}

.menuColumnaImg3 {
  background-image: url(../assets/menuPostre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  padding: 3em;
  min-height: 200px;
  width: 100%;
}

.staffColumnaImg {
  background-image: url(../assets/staffChefImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  padding: 3em;
  min-height: 400px;
  width: 100%;
}

.staffColumnaImg1 {
  background-image: url(../assets/staffEquipoImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  padding: 3em;
  min-height: 400px;
  width: 100%;
}

.staffColumnaImg2 {
  background-image: url(../assets/staffBarImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  padding: 3em;
  min-height: 400px;
  width: 100%;
}

.menuColumnaTexto {
  background-color: #fff;
  padding: 3em;
  text-align: left;
}

table {
  width: 100%;
}

table .tableHead {
  font-weight: 600;
  line-height: 3;
}

table .precio {
  width: 20%;
}

table .tableColLfet {
  width: 80%;
}

/* Estilos GRID - GALERIA */
.galeriaPlatos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  grid-gap: 10px;
  margin: auto;
      grid-template-areas: "plato1" "plato2" "plato3" "plato4" "plato5" "plato6" "plato7" "plato8" "plato9" "plato10" "plato11" "plato12";
}

.galeriaPlatos > img {
  width: 1fr;
  height: 1fr;
}

img.pl {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .galeriaPlatos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .galeriaPlatos {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

/*Formulario Contacto*/
.formContainer {
  background-color: #fff;
  margin: 1.5em;
  padding: 3em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.infoContainer {
  background-color: #fff;
  margin: 1.5em;
  padding: 3em;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.infoContacto {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 1.5em;
}

.form-label {
  color: #8e6b00;
  display: block;
}

.form-label-promo {
  display: inline;
}

.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border-color: #c99200;
  border-style: none none solid none;
  width: 100%;
  font-size: 1.25em;
}

.btn-enviar {
  font-size: 1em;
  background-color: #c99200;
  color: #fff;
  border-radius: 0;
  padding: 10px 50px;
  border-style: none;
}

.btn-enviar:hover {
  background-color: #8e6b00;
}

textarea {
  resize: none;
}

.i-contacto {
  font-size: 1rem;
  margin: 5px;
  color: #8e6b00;
}

.bulletsContacto {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* ERROR 404*/
.samurai {
  margin-top: 3em;
  width: 90%;
}

@media only screen and (min-width: 992px) {
  .samurai {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */